version: '3'
services:
  rocketchat:
    image: rocket.chat:5.4.4
    container_name: rocketchat
    restart: unless-stopped
    volumes:
     - /opt/services/rocketchat/uploads:/app/uploads
     - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt
    environment:
     - PORT=3000
     - ROOT_URL=https://domain_name
     - MONGO_URL=mongodb://mongodb:27017/rocketchat
     - MONGO_OPLOG_URL=mongodb://mongo:27017/local
     - NODE_TLS_REJECT_UNAUTHORIZED=0
    depends_on:
      - mongodb
    ports:
      - '3000:3000'
    networks:
      - services_net
  mongodb:
    image: mongo:5.0
    container_name: mongodb
    restart: unless-stopped
    command: mongod --bind_ip_all  --oplogSize "128" --replSet rs0
    volumes:
      - /opt/services/rocketchat/db:/data/db
      - /opt/services/rocketchat/backups:/dump
    networks:
      - services_net
    environment:
      MONGODB_REPLICA_SET_MODE: primary
      MONGODB_REPLICA_SET_NAME: rs0
      MONGODB_PORT_NUMBER: 27017
      MONGODB_INITIAL_PRIMARY_HOST: mongodb
      MONGODB_INITIAL_PRIMARY_PORT_NUMBER: 27017
      MONGODB_ADVERTISED_HOSTNAME: mongodb
      MONGODB_ENABLE_JOURNAL: "true"
      ALLOW_EMPTY_PASSWORD: "yes"

  nginx:
    container_name: nginx
    image: bitnami/nginx:latest
    ports:
      - "80:8080"
      - "443:8443"
    volumes:
      - /opt/services/conf/nginx.conf:/opt/bitnami/nginx/conf/nginx.conf
      - /opt/services/certs:/certs
    restart: unless-stopped
    networks:
      - services_net
networks:
  services_net:
    driver: bridge
